*{
    font-family: 'Kreon', sans-serif; 
    margin-top: 20px;   
    margin-bottom: 20px;
}

header {
    display: flex;
    text-align: center;
    
}

.titre {
    font-size: x-large;
}

.intitule {
    font-size: large;
    text-align: center;
    border-radius: 10px;
    width: 500px; 
    background-color: rgb(247, 160, 247);
    padding: 30px;  
}

.corps {
    display: flex;
}

.left{
    background-color: rgb(247, 160, 247);
    width: 25%;
    margin-left: 150px;
    margin-right: 40px;
    padding-left: 20px;
}

.tailwind{
    width:40%;
    margin-top: 30px;
}

.front{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.back{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}
.back img {
    width: 15%;
    
}

hr{
    border-top: solid rgb(247, 160, 247);
}